.navigation-component-container{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .desktop-menu{
        display: none;
        ul{
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            padding-left: 16rem;
        }
    }
    .logo{
        img{
            width: 5rem;
        }
    }

}
@media screen and (min-width: 70em){
    .navigation-component-container{
        padding: 0rem .5rem;
        .hamburger {
                display: none
            }
        
            .desktop-menu {
                display: block;
            }
    }
}