.navigation-component-container{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .desktop-menu{
        display: none;
        ul{
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            padding-left: 16rem;
            li{
                cursor: pointer;
                &:hover{
                    color: $secondary-color-normal;
                    
                }
            }
        }
    }
    .extras{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        .appointment{
            cursor: pointer;
            span{
                position: absolute;
                background: $secondary-color-normal;
                width: 1.2rem;
                height: 1.2rem;
                padding: .6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-weight: 500;
                font-size: .8rem;
                color: $primary-color-light;
            }
        }
        .fill-details-cta {
            background: $secondary-color-normal;
            cursor: pointer;
            padding: 1rem 1rem;
            color: $primary-color-light;
            font-weight: 500;
            font-size: .8rem;
        }
    }
    .logo{
        img{
            width: 5rem;
        }
    }

}
@media screen and (min-width: 70em){
    .navigation-component-container{
        padding: 0rem .5rem;
        .hamburger {
                display: none
            }
        
            .desktop-menu {
                display: block;
            }
    }
}