.home-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.home-container .hero-section {
  background: #D9D9D9;
  position: relative;
}

.home-container .hero-section .img-container {
  position: absolute;
}

.home-container .hero-section .img-container img {
  width: 20rem;
}

.home-container .hero-section .img-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.694)));
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.694));
  z-index: 22;
}

.home-container .hero-section .text-container {
  position: relative;
  z-index: 99;
  padding: 0rem 1rem;
}

.home-container .hero-section .text-container h1 {
  font-size: clamp(3rem, 10vw, 5.4rem);
  color: #f5f5f5;
  line-height: 3.5rem;
  margin: 1.2rem 0rem;
}

.home-container .hero-section .text-container p {
  color: #f2f2f2;
}

.home-container .hero-section .text-container .hero-cta {
  margin: 1.2rem 0rem;
}

.home-container .aboutUs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.home-container .aboutUs-section .img-container img {
  width: clamp(19rem, 40vw, 40rem);
}

.home-container .aboutUs-section .text-container {
  width: 93%;
}

.home-container .aboutUs-section .text-container h5, .home-container .aboutUs-section .text-container h3, .home-container .aboutUs-section .text-container p {
  text-align: center;
}

.home-container .aboutUs-section .text-container .header h5 {
  margin: 1rem 0rem;
}

.home-container .aboutUs-section .text-container .header h5::before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(2.2rem);
          transform: translateY(2.2rem);
  width: 5rem;
  border-radius: 5rem;
  height: .4rem;
  background: #B0223B;
}

.home-container .aboutUs-section .text-container .header h3 {
  color: #B0223B;
}

.home-container .aboutUs-section .text-container p {
  margin: 1rem 0rem;
}

.home-container .aboutUs-section .text-container button {
  display: block;
  margin: 0rem auto;
}

.home-container .booking-section {
  background: #D9D9D9;
  padding: 2rem 1rem;
  margin: 4rem 0rem;
}

.home-container .booking-section .header .header-text h5 {
  margin: 1rem 0rem;
}

.home-container .booking-section .header .header-text h5::before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(2.2rem);
          transform: translateY(2.2rem);
  width: 5rem;
  border-radius: 5rem;
  height: .4rem;
  background: #B0223B;
}

.home-container .booking-section .header .header-text h3 {
  color: #B0223B;
}

.home-container .booking-section .header .extra-content {
  display: none;
}

.home-container .booking-section .card-container {
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

.home-container .booking-section .card-container > :not(:first-child) {
  margin-top: 2rem;
}

.home-container .booking-section .card-container:first-child {
  margin-top: 0rem;
}

.home-container .booking-section .booking-section-cta {
  display: block;
  margin: 0rem auto;
}

.home-container .booking-section .booking-section-cta:hover {
  background: transparent;
  outline: 0.2rem solid #B0223B;
  color: black;
}

.home-container .booking-section .booking-section-cta .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 30em) {
  .home-container .hero-section {
    background: #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-container .hero-section .img-container {
    position: static;
  }
  .home-container .hero-section .img-container img {
    width: 29rem;
  }
  .home-container .hero-section .text-container {
    width: 40%;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .home-container .hero-section .text-container h1 {
    line-height: 5rem;
  }
  .home-container .aboutUs-section .text-container {
    width: 40%;
  }
  .home-container .aboutUs-section .text-container h5, .home-container .aboutUs-section .text-container h3, .home-container .aboutUs-section .text-container p {
    text-align: left;
  }
  .home-container .aboutUs-section .text-container button {
    margin: 0rem;
  }
  .home-container .booking-section {
    padding: 3rem 4rem;
  }
  .home-container .booking-section .card-container {
    row-gap: 1.2rem;
  }
  .home-container .booking-section .card-container > :not(:first-child) {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 70em) {
  .home-container .booking-section .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-container .booking-section .header .extra-content {
    display: block;
  }
  .home-container .booking-section .header .extra-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .home-container .booking-section .header .extra-content ul li {
    font-size: 1rem;
  }
}

.navigation-component-container {
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-component-container .desktop-menu {
  display: none;
}

.navigation-component-container .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
  padding-left: 16rem;
}

.navigation-component-container .desktop-menu ul li {
  cursor: pointer;
}

.navigation-component-container .desktop-menu ul li:hover {
  color: #B0223B;
}

.navigation-component-container .extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.navigation-component-container .extras .appointment {
  cursor: pointer;
}

.navigation-component-container .extras .appointment span {
  position: absolute;
  background: #B0223B;
  width: 1.2rem;
  height: 1.2rem;
  padding: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: .8rem;
  color: #f5f5f5;
}

.navigation-component-container .extras .fill-details-cta {
  background: #B0223B;
  cursor: pointer;
  padding: 1rem 1rem;
  color: #f5f5f5;
  font-weight: 500;
  font-size: .8rem;
}

.navigation-component-container .logo img {
  width: 5rem;
}

@media screen and (min-width: 70em) {
  .navigation-component-container {
    padding: 0rem .5rem;
  }
  .navigation-component-container .hamburger {
    display: none;
  }
  .navigation-component-container .desktop-menu {
    display: block;
  }
}

.purchase-card-container {
  width: 15.5rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9rem auto;
      grid-template-rows: 9rem auto;
}

.purchase-card-container .img-section {
  width: 100%;
  position: relative;
}

.purchase-card-container .img-section img {
  border-radius: 1rem;
  width: 100%;
}

.purchase-card-container .img-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(0, 0, 0, 0.409)), to(rgba(0, 0, 0, 0.409)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.409), rgba(0, 0, 0, 0.409));
}

.purchase-card-container .text-container {
  background: linear-gradient(12.52deg, rgba(255, 255, 255, 0.7) 23.58%, rgba(243, 243, 243, 0.28) 76.45%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0rem 0rem 1rem 1rem;
  padding: .5rem 1.3rem;
}

.purchase-card-container .text-container .text p {
  margin: 0px 0px;
}

.purchase-card-container .text-container .text .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
}

.purchase-card-container .text-container .text .header h6 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.purchase-card-container .text-container .text .header p {
  line-height: 0px;
  font-weight: 800;
  color: #B0223B;
}

.purchase-card-container .text-container .text p {
  font-size: .9rem;
}

.purchase-card-container .text-container .ratingTime-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0rem;
  margin: .5rem;
}

.purchase-card-container .text-container .ratingTime-container p {
  font-size: .8rem;
}

.purchase-card-container .text-container .ratingTime-container .rating, .purchase-card-container .text-container .ratingTime-container .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .2rem;
          column-gap: .2rem;
}

.purchase-card-container .text-container button {
  font-weight: 600;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 70em) {
  .purchase-card-container .text-container .ratingTime-container {
    margin: 0rem;
  }
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
}

.form-container .wrapper {
  width: 90%;
}

.form-container .wrapper .header h5 {
  margin: 2rem 0rem;
}

.form-container .wrapper .header h5::before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(2.2rem);
          transform: translateY(2.2rem);
  width: 5rem;
  border-radius: 5rem;
  height: .4rem;
  background: #B0223B;
}

.form-container .wrapper .header h3 {
  color: #B0223B;
}

.form-container .wrapper form {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

.form-container .wrapper form input {
  border: .1rem solid black;
  padding: 1rem;
}

.booking-component-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-component-container .wrapper {
  width: 100%;
}

.booking-component-container .wrapper .img-container {
  position: relative;
}

.booking-component-container .wrapper .img-container img {
  width: 100%;
  height: 14rem;
}

.booking-component-container .wrapper .img-container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 14.3rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(transparent));
  background: linear-gradient(to top, #f2f2f2, transparent);
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
}

.booking-component-container .wrapper main {
  margin: 1.3rem;
}

.booking-component-container .wrapper main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
}

.booking-component-container .wrapper main .header h3 {
  font-weight: 700;
  font-size: 2rem;
}

.booking-component-container .wrapper main .header .extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
}

.booking-component-container .wrapper main .header .extras h2 {
  font-weight: 800;
  font-size: 1.5rem;
  color: #B0223B;
}

.booking-component-container .wrapper main .description > p {
  margin: .1rem;
  font-size: 13.6239px;
}

.booking-component-container .wrapper main .requirements ul {
  margin: 0rem 2rem;
}

.booking-component-container .wrapper main .requirements ul li {
  list-style-type: circle;
  line-height: 1.2rem;
}

.booking-component-container .wrapper main .bookings .date {
  margin: 1rem 0rem;
}

@media screen and (min-width: 40em) {
  .booking-component-container .wrapper {
    -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
            box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
  }
  .booking-component-container .wrapper main {
    margin: 2rem;
  }
}

.card {
  border: .2rem solid black;
  margin: 0rem 1rem;
  width: 90%;
  height: auto;
  background: linear-gradient(12.52deg, rgba(255, 255, 255, 0.7) 23.58%, rgba(243, 243, 243, 0.28) 76.45%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 5rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .text-info .title {
  font-size: 1rem;
  line-height: 1rem;
}

.card .text-info .status {
  background-color: #B0223B;
  color: #f2f2f2;
  padding: .8rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .price {
  margin-top: .8rem;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: .3rem;
}

.booking-page-container {
  background: #f2f2f2;
  width: 100%;
  padding-top: 3rem;
}

.booking-page-container .wrapper {
  width: 100%;
}

.booking-page-container .wrapper .header {
  width: 90%;
  padding: 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-page-container .wrapper .header .text-container > h5::before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(2.2rem);
          transform: translateY(2.2rem);
  width: 5rem;
  border-radius: 5rem;
  height: .4rem;
  background: #B0223B;
}

.booking-page-container .wrapper .header .text-container > h3 {
  color: #B0223B;
}

.booking-page-container .wrapper .header .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  width: 30%;
}

.booking-page-container .wrapper .header .action .search-bar input {
  padding: 1rem;
}

.booking-page-container .wrapper .card-container {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (min-width: 70em) {
  .booking-page-container .search-bar {
    width: 100%;
  }
  .booking-page-container .category-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .booking-page-container .category-section form label {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

/* utility style classes */
.pill-button {
  background: #B0223B;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */